<p><strong>reviewed by:</strong> {{review.user}} ~ <strong>reviewed on:</strong> {{review.date}}</p>
<p><strong>riview:</strong> {{review.description}}</p>

<button class="btn btn-danger" {{action 'deleteReview' review}}>delete</button>
