.btn-info{
  margin-top: 5px;
}
.btn-primary{
  margin-top: 5px;
}
.form-control{
  width: 50%;
  display: inline;
  height: 33px;
}
.glyphicon-fire-red{
color: red;
}

a:link, a:visited {
    color: blue;
}
a:hover {
    color: green;
}
#room-page{
  width: auto;
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 10px;
}
#rooms-list{
height: 1200px;
}
#review-page{
  width: auto;
  height: 1120px;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
#read-later{
  width: auto;
  height: 2500px;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
  .about{
  width: auto;
  height: 1120px;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
/*.contact{
  width: auto;
  height: 1120px;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;*/
/*}*/
#contact-form{
  margin-left: 30px;
}

/*NAV BAR EVERYTHING*/
#nav-bar-links{
  float: right;
}
#nav-name{
  color: #FFF;
}
#logoName{
  font-family: cooperplate;
  letter-spacing:3px;
  font-size: 23px;
  color: #9d9d9d;
  margin-left: -50px;
}

/*FOOTER EVERYTHING*/
footer {
  /*height: 70px;*/
  padding: 15px 15px;
  font-size: 15px;
  /*line-height: 20px;*/
  color: black;
}

#copyright{
  font-family: cooperplate;
  letter-spacing: 5px;
  color:#9d9d9d;
  font-size: 10px;
  margin-left: 5px;
}
.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.social {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

#social-fb:hover {
  color: #3B5998;
}
#social-tw:hover {
  color: #4099FF;
}
#social-gp:hover {
  color: #d34836;
}
#checkUs{
  font-size:15px;
  color:#9d9d9d;
  margin-top: 5px;

}
