<div class="contact">
<h1>Contact us</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<hr>
<form id="contact-form">
	<div class="row">
		<label for="name">name:</label><br>
		<input id="name" type="text" class="form-control">
	</div>
	<div class="row">
		<label for="email">email:</label><br>
		<input id="email" type="text" class="form-control">
	</div>
	<div class="row">
		<label for="message">message:</label><br>
		<textarea id="message" type="text" class="form-control"></textarea><br>
	</div>
	<button class="btn btn-success">send</button>
</form>
<!-- <div class="alert alert-success" role="alert" id="success_message">Success<i class="glyphicon glyphicon-thumbs-up"></i></div> -->
<hr>
<p>
  Room Reviewer Headquarters<br>
  400 SW 6th Avenue, unit 800<br>
  Portland, OR 97204
</p>

<p>(503) 555-1212</p>

<p>contactus@roomreviewer.com</p>
</div>
