<!-- <div id="read-later"class="container">

  {{#each model.reviews as |review|}}
  {{review-detail review=review}}
  {{/each}}
  <h1>this is readLater list:</h1>

</div> -->

<!-- <div id="read-later"class="container">
  {{#each readLater.reviews as |review|}}
  {{display-read-later review=review}}
  {{/each}}
</div> -->

<div id="read-later"class="container">
  <h1>Your read later list</h1>
  <p>{{display-read-later review=review}}</p>
</div>
